<ion-view title="Sample Page">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios-gear"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-home"></button>
  </ion-nav-buttons>

  <ion-content>
    <div class="padding">
      Ionic CSS Components

      <button class="button button-positive">
        Positive
      </button>
      <button class="button icon-left ion-star button-block button-outline button-positive">
        Block Button
      </button>
      <button class="button button-block button-clear button-assertive">
        Block Button
      </button>
    </div>

    <div class="button-bar">
      <a class="button  button-positive">First</a>
      <a class="button button-balanced">Second</a>
      <a class="button button-assertive">Third</a>
    </div>

    <div class="list">
      <div class="item item-divider">
       Users list
     </div>
      <a href="" class="item  item-icon-left item-icon-right">
        <i class="icon ion-chatbubble-working balanced"></i>
          xxx
        <i class="icon ion-ios-telephone assertive"></i>

      </a>
      <a href="" class="item">
        yyyy
        <span class="badge badge-assertive">20</span>
      </a>
      <a href="" class="item">vbvbvb</a>
    </div>

    <div class="list">
      <a class="item item-avatar" href="#">
      <img src="img/ic_face.png">
      <h2>Pretty Hate Machine</h2>
      <p>Nine Inch Nails</p>
    </a>
    </div>

    <div class="bar bar-footer bar-assertive">
      <button class="button button-clear">Left</button>
      <div class="title">Title</div>
      <button class="button button-clear">Right</button>
    </div>
  </ion-content>
</ion-view>
