<ion-view view-title="Dashboard">
  <ion-nav-buttons side="left">

	<a class="button button-icon icon ion-android-unlock" ng-click="logout()">
	</a>

</ion-nav-buttons>
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="$parent.query" placeholder="Search">
      </label>
    </div>

    <div class="list">
        <a class="item item-avatar item-icon-right" href="#/tab/detail/{{ u.username }}" ng-repeat="u in users | filter: query">
          <img ng-src="{{ u.image }}">
          <h2>{{ u.fullname }}</h2>
          <p>Username: {{ u.username }}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
    </div>

  </ion-content>
</ion-view>
