<ion-view title="User detail">
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Id</span>
        <input type="text" ng-model="$parent.user.id" ng-required="true">
      </label>
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" ng-model="$parent.user.name" ng-required="true">
      </label>
      <label class="item item-input">
        <span class="input-label">Last Text</span>
        <input type="text" ng-model="$parent.user.lastText" ng-required="true">
      </label>
      <label class="item item-input">
        <span class="input-label">Face</span>
        <input type="text" ng-model="$parent.user.face" ng-required="true">
      </label>
    </div>
  </ion-content>
</ion-view>
